.li-span {
  position: absolute;
  color: var(--color-yellow);
  top: 17px;
}

.custom-dropdown {
  width: 93px;
  position: relative;
  display: inline-block;
}

.custom-dropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 16px;
  padding: 5px 30px 5px 5px;
  cursor: pointer;
  font-family: inherit;
}

.custom-dropdown select:focus {
  outline: none;
}

.dropdown-arrow {
  position: absolute;
  right: 2px;
  top: 45%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 16px;
  color: var(--color-yellow);
}

.custom-dropdown select {
  padding-right: 5px;
}

select::-ms-expand {
  display: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 25px;
}
